body {
  -webkit-font-smoothing: antialiased;
  color: #5f5f5f;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
  background: url('/bg.png');
  background:
  linear-gradient(
    to right,
    rgba(0, 0, 0, 0.125) 0%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.125) 100%
  )
}

.row {
  max-width: 800px;
  margin: auto;
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
  .row {
    width: 95%;
  }
}
