.user-comment {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 10px 0 20px;
}

.post_button_container {
  padding: 15px;
}

.post_comment_button {
  background-color: #86c5da;
  border-color: #46b8da;
}

.post-icons svg {
  margin: 0 10px;
}

.dream_updateable_fields {
  width: 100%;
  padding-left: 25px;
}

.comments_on_post {
  max-height: 350px;
  overflow-y: auto;
}

@media only screen and (min-width: 700px) {
  .dream_updateable_fields {
    padding-left: 20px;
  }
}
