.post_button_container {
  padding: 15px;
}

.post_comment_btn {
  background-color: #86c5da;
  border-color: #46b8da;
}

.post-icons svg {
  margin: 0 10px;
}

.all_comments {
  list-style: none;
  padding: 0;
}

.comments_section {
  text-align: center;
}

.user_comment {
  position: relative;
  padding: 10px;
  font-size: 20px;
  width: 90%;
  margin: 0 auto;
}

.dream_updateable_fields {
  width: 93%;
  padding-left: 15px;
}

.user_avatar_in_comment {
  width: 50px;
  height: 50px;
  box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.6);
  margin-right: 20px;
}

.comment_text {
  display: inline;
  line-height: 10px;
  position: absolute;
  top: 10px;
  padding: 10px 10px;
  box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.6);
  font-size: 12px;
  /* width: 60%; */
  height: 30px;
}

.comment_text > span {
  color: blue;
}

@media only screen and (min-width: 700px) {
  .user_comment {
    padding: 25px;
  }

  .dream_updateable_fields {
    width: 95%;
    padding-left: 25px;
  }

  .comment_text {
    top: 25px;
    padding: 20px 25px;
    box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.6);
    font-size: 18px;
    /* width: 80%; */
    height: 15px;
  }
}
