.post_button_container {
  padding: 15px;
}

.post_comment_btn {
  background-color: #86c5da;
  border-color: #46b8da;
}

.post-icons svg {
  margin: 0 10px;
}

.all_comments {
  list-style: none;
  padding: 0;
  width: 95%;
  display: flex;
  margin: 10px 0 20px;
}

.comments_section {
  padding-left: 15px;
  max-height: 300px;
  overflow: auto;
}

.comments_header {
  text-align: center;
}

.user_comment {
  position: relative;
  padding: 10px;
  font-size: 18px;
  width: 90%;
  margin: 0 auto;
  top: 10px;
  padding: 10px 10px;
  font-size: 12px;
}

.dream_updateable_fields {
  width: 93%;
  padding-left: 15px;
}

.user_avatar_in_comment {
  width: 50px;
  height: 50px;
  box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.6);
  margin-right: 20px;
}

.comment_text {
  display: inline;
  box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.6);
  padding: 15px 15px;
}

.commentor {
  color: blue;
}

@media only screen and (min-width: 700px) {
  .user_comment {
    padding: 25px;
  }

  .dream_updateable_fields {
    width: 95%;
    padding-left: 25px;
  }

  .comment_text {
    font-size: 18px;
    padding: 15px 15px;
  }

  .comment_text > p {
    display: inline;
  }
}
