.Header {
  height: 50px;
  color: #555555;
  position: relative;
  font-weight: 700;
  margin-bottom: 7px;
  margin-top: 10px;
  font-size: 38px;
}

.jumbotron_title {
  text-decoration: none;
  color: #003366;
  line-height: 50px;
}

.sign_out {
  float: right;
  width: 50px;
  height: 50px;
  background-color: #003366;
  border-radius: 5px;
  cursor: pointer;
}

.sign_out_icon {
  font-size: 30px;
  color: #86c5da;
}

.sign_out:hover {
  background-color: #86c5da;
}

.sign_out:hover .sign_out_icon {
  color: #003366;
}
