.Header {
  height: 50px;
  color: #555555;
  background-color: #D3D3D3;
  position: relative;
  font-weight: 700;
  margin-top: 10px;
  font-size: 34px;
}

.jumbotron_title {
  text-decoration: none;
  color: #003366;
  line-height: 35px;
  font-size: 24px;
}

.sign_out {
  float: right;
  width: 45px;
  height: 45px;
  background-color: #003366;
  border-radius: 5px;
  cursor: pointer;
}

.sign_out_icon {
  font-size: 30px;
  color: #86c5da;
}

.sign_out:hover {
  background-color: #86c5da;
}

.sign_out:hover .sign_out_icon {
  color: #003366;
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .sign_out {
    position: relative;
    top: -70px;
  }

  .jumbotron_title {
    font-size: 34px;
  }
}

@media only screen and (min-width: 700px) {
  .jumbotron_title {
    line-height: 50px;
    font-size: 46px;
  }
}
