.post_button_container {
  padding: 15px;
}

.post_comment_btn {
  background-color: #86c5da;
  border-color: #46b8da;
}

.post-icons svg {
  margin: 0 10px;
}

.all_comments {
  list-style: none;
}

.comments_section {
  text-align: center;
}

.user_comment {
  padding: 25px;
  font-size: 20px;
  width: 90%;
  box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.6);
  margin: 15px auto;
}
